.app-layout .ant-layout-sider .ant-menu {
  padding-top: 40px;
}

.app-layout .ant-layout-header {
  padding: 0 16px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-layout-content {
  margin: 0 16px;
}

.site-layout-background {
  padding: 24px;
  min-height: 360px;
  background: #fff;
}

.breadcrumb-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}

.app-layout .ant-breadcrumb {
  margin: 0; /* 移除原有的 margin */
}

@media (max-width: 768px) {
  .app-layout-content {
    margin: 0 8px;
  }

  .site-layout-background {
    padding: 12px;
  }

  .breadcrumb-container {
    margin: 8px 0;
  }
}
